.buttonBox {
    height: 100px;
    width: 300px;
    background-color: yellow;
}

.btn1 {
    display: inline-block;
    background-color:rgb(204,212,255);
    
}

.btn2 {
    display: inline-block;
    background-color:rgb(204,212,255);
}

.btn3 {
    display: inline-block;
    background-color:rgb(204,212,255);
}

.walkBtn {
    height: 30px;
    width: 30px;
}