.login {
    height: 400px;
    width: 300px;
    float: left;
    background-image:linear-gradient(rgb(204,255,255),white) ;
    text-align: center;
}

.usernameDiv {
    padding-top: 100px;
}

.passwordDiv {
    padding-top: 30px;
}

.loginInput {
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border: 2px hidden #1C6EA4;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    text-align:center;
}

.passwordInput {
    border-radius: 10px;
    height: 30px;
    width: 150px;
    border: 2px hidden #1C6EA4;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    text-align:center;
}

.submitDiv {
    padding-top: 20px;
}

.submitDiv2{
    color:rgb(51,221,255);
}

a {   
    text-decoration: none; /* no underline */
    
}

